/* BASIC STYLES HERE */
body {
  background-image: url(https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?q=80&w=792&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.text-box {
  max-width: 14vw;
}

.text-area {
  opacity: .85;
  height: 60vh;
  width: 40vw;
}

.jot-border {
  border: inset 10px black;
}

.color-square {
  height: 30px;
}